<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <ul>
        {% for key, value in session.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    <div id="classTemplate" class="classes" style="display: none;">
        <h1>Name Goes Here</h1>
    </div>
    <button id = "btn">Create</button>
    <script>
        function spawnClass(name, id) {
            // clone the classtemplate
            const newClass = document.getElementById('classTemplate').cloneNode(true);
            newClass.style.display = 'flex';
            newClass.setAttribute('id', id)
            newClass.addEventListener('click', function() {
                // replace the window url
                window.location.href += 'getClass?id=' + encodeURIComponent(id);
            })
            newClass.querySelector('h1').textContent = name;
            document.body.appendChild(newClass);
        }

        document.getElementById('btn').addEventListener('click', function(){
            fetch(window.location.href + 'create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'type': 'class', 'name': 'Test'})
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error : ' + response.status);
                }
            })
            .then(data => {
                spawnClass(data.name, data.id);
            })
            .catch(error => {
                console.error(error);
            });
            
        })
        function getClass(id) {
            fetch(window.location.href + 'getClass?id='+ encodeURIComponent(id), {
                method: 'GET'
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error: ' + response.status);
                }
            })
            .then(data => {
                spawnClass(data.name, data.id);
            })
            .catch(error => {
                console.error(error);
            });
        }

        // Get session items and alert them
        const sessionItems = {{ session|tojson|safe }};
        sessionItems.classes.forEach(id => {
            getClass(id);
        });
    </script>
</body>
</html>